/*header*/
.header-image-box {
  background-image: url(https://i.postimg.cc/7Pz8kmRw/Background-Image.png);
  background-size: cover;
  height: 703px;
}

.header-image-box .nav-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.header-image-box .header-wrapper {
  text-align: center;
  margin-top: 200px;
}

.header-image-box .header-wrapper h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

.header-image-box .header-wrapper h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.header-image-box .header-wrapper button {
  border-radius: 3px;
  background-color: #fed136;
  width: 240px;
  height: 65px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}

.navigation {
  -ms-flex: 6;
      flex: 6;
  list-style-type: none;
  text-align: end;
  margin-top: 40px;
  margin-right: 80px;
}

.navigation li {
  display: inline-block;
}

.logo-holder {
  -ms-flex: 1;
      flex: 1;
  margin-top: 40px;
  margin-left: 150px;
}

.logo-holder img {
  height: 30px;
}

.menu-item {
  display: inline-block;
  text-decoration: none;
  padding-right: 34px;
  font-family: "Miriam Libre", sans-serif;
  color: white;
  font-size: 15px;
}

/*services*/
.services-box {
  text-align: center;
}

.services-box .title-box {
  display: inline-block;
  margin-top: 50px;
}

.services-box .title-box h2 {
  font-size: 40px;
  font-family: "Miriam Libre", sans-serif;
  color: #000000;
  font-weight: bold;
}

.services-box .title-box p {
  font-size: 16px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.services-box .service-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 70px 200px;
}

.card i {
  background-color: #fff;
  font-size: 27px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid yellow;
  color: yellow;
  line-height: 40px;
  margin: 0 auto;
}

.card h3 a {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.card p {
  font-size: 13px;
}

/*portfolio*/
.portfolio-box {
  max-width: 100%;
  min-height: 1200px;
  background-color: #f7f7f7;
  color: black;
  margin: 0 auto;
  text-align: center;
  min-height: 570px;
  padding: 50px 10px;
}

.portfolio-box .title-box {
  display: inline-block;
  margin-top: 40px;
}

.portfolio-box .title-box h2 {
  font-size: 40px;
  font-family: "Miriam Libre", sans-serif;
  color: #000000;
  font-weight: bold;
}

.portfolio-box .title-box p {
  font-size: 16px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.portfolio-box .portfolio-cards {
  margin: 50px 150px;
}

.row .img-container {
  background: white;
  padding: 0;
  border: 0;
  max-width: 290px;
  max-height: 400px;
  margin: 20px 20px;
}

.row .img-container h3 {
  background: white;
  margin-top: 20px;
  margin-bottom: 5px;
}

.row .img-container p {
  background: white;
  margin: 0;
  font-style: italic;
  margin-bottom: 20px;
  color: grey;
}

/*footer*/
.container-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: white;
  width: 100%;
  max-height: 100px;
}

.copyright {
  padding-top: 20px;
  -ms-flex: 1;
      flex: 1;
  text-align: center;
  color: grey;
}

i.far.fa-copyright {
  font-size: 10px;
  color: black;
  border: none;
  background-color: #f7f7f7;
}

p.footer-par {
  font-size: 16px;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 2;
      flex: 2;
}

.list-inline {
  list-style-type: none;
  margin-left: 40px;
  padding-left: 72px;
  padding-top: 20px;
}

.list-inline li {
  text-decoration: none;
  display: inline;
}

.li.list-inline-item {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
}

.mediaicon-1,
.mediaicon-2,
.mediaicon-3,
.mediaicon-4 {
  color: white;
  background-color: #000000;
  border: none;
  padding-left: 8px;
  padding-top: 7px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin-right: 7px;
  border-radius: 50%;
}

.mediaicon-2 {
  padding-left: 12px;
}

.mediaicon-3 {
  padding-left: 10px;
}

@media (max-width: 375px) {
  .services-box .service-card {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */