$color-light: white;
$color-dark: #000000;
$header-font: "Miriam Libre", sans-serif;
$text-font: 'Montserrat', sans-serif;

/*header*/
.header-image-box {
    background-image: url(https://i.postimg.cc/7Pz8kmRw/Background-Image.png);
    background-size: cover;  
    height: 703px;
    .nav-box {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }   
    .header-wrapper {
        text-align: center;
        margin-top:200px;
        h2 {
            font-size: 40px;
            font-family: $text-font;
            color: $color-light;
            font-style: italic;
            line-height: 1.2;
            text-align: center;
        }
        h1 {
            font-size: 55px;
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
            font-family: $text-font;
            color: $color-light;
        }
        button {
            border-radius: 3px;
            background-color: rgb(254, 209, 54);   
            width: 240px;
            height: 65px;
            font-size: 18px;
            font-family: $text-font;
            color: $color-light;
            font-weight: bold;
        }
    } 
}    
.navigation {
    flex: 6;
    list-style-type: none; 
    text-align: end;
    margin-top: 40px;
    margin-right: 80px;
        li {
            display: inline-block;
        }                                     
    }    

.logo-holder {
    flex: 1;
    margin-top: 40px;
    margin-left: 150px;
    img {
        height: 30px;
    }
}    
.menu-item {
    display: inline-block;
    text-decoration: none;                  
    padding-right: 34px;
    font-family: $header-font;
    color: $color-light;
    font-size: 15px;
}
/*services*/
.services-box {
    text-align: center;
    .title-box {
        display:inline-block;
        margin-top:50px;
        h2 {
            font-size: 40px;
            font-family: $header-font;
            color: $color-dark;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            color: $color-dark;
            font-family: $text-font;
            font-style: italic;
        }
    }
    .service-cards {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: $text-font;
        margin: 70px 200px;
        .row {

        }
    }
}
.card {
    i {
        background-color: #fff;
        font-size: 27px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid yellow;
        color: yellow;
        line-height: 40px;
        margin: 0 auto;
    }
    h3 {
        a {
        text-align: center;
        text-decoration: none;
        color: $color-dark;
        }
    }    
    p {
        font-size: 13px;
    }
}

/*portfolio*/
.portfolio-box {
    max-width: 100%;
    min-height: 1200px;
    background-color: #f7f7f7;
    color: black;
    margin: 0 auto;
    text-align: center;
    min-height: 570px;
    padding: 50px 10px;
    .title-box {
        display:inline-block;
        margin-top: 40px;
        h2 {
            font-size: 40px;
            font-family: $header-font;
            color: $color-dark;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            color: $color-dark;
            font-family: $text-font;
            font-style: italic;
        }
    }    
    .portfolio-cards {  
        margin: 50px 150px; 
    }
}
.row {
    .img-container {
        background: $color-light;
        padding: 0;
        border: 0;
        max-width: 290px;
        max-height: 400px;
        margin: 20px 20px;
        img {

        }
        h3 {
            background: $color-light;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        p {
            background: $color-light;
            margin: 0;
            font-style: italic;
            margin-bottom: 20px;
            color: grey;
        }
    }
}

/*footer*/
.container-footer {
    display: flex;
    justify-content: center;
    background-color: $color-light;
    width: 100%;
    max-height: 100px;
  }
  .copyright {
    padding-top: 20px;
    flex: 1;
    text-align: center;
    color: grey;
  }
  i.far.fa-copyright {
    font-size: 10px;
    color: black;
    border: none;
    background-color: #f7f7f7;
  }
  p.footer-par {
    font-size: 16px;
  }
  
  .media {
    display: flex;
    flex: 2;
  }
  .list-inline {
    list-style-type: none;
    margin-left: 40px;
    padding-left: 72px;
    padding-top: 20px;
  }
  .list-inline li {
    text-decoration: none;
    display: inline;
  }
  .li.list-inline-item {
    display: inline;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
  }
.mediaicon-1,
.mediaicon-2,
.mediaicon-3,
.mediaicon-4 {
    color: $color-light;
    background-color: $color-dark;
    border: none;
    padding-left: 8px;
    padding-top: 7px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    border-radius: 50%;
}
.mediaicon-2 {
    padding-left: 12px;
}
.mediaicon-3 {
    padding-left: 10px;
}

@media (max-width: 375px) {
.services-box .service-card {
    margin: 0;
}    
}
